html {
  height: 100%;
}

* html body {
  height: 100%;
}

body {
  position: relative;
  min-height: 100%;
  background-color: #E3E7E9;
}

/* шапка */
.header {
  background-color: #fff;
}

.header .container {
  position: relative;
}

.header .logo {
  display: block;
  margin: 20px 50px 13px;
}

.header .top-menu {
  margin: 28px 0 0;
}

.header .top-menu > li {
  float: left;
  text-align: center;
}

.header .top-menu li a:link, .header .top-menu li a:visited {
  display: block;
  padding: 20px;
  color: #333;
  font-size: 17px;
  font-weight: bold;
  text-decoration: none;
}

.header .top-menu li.dropdown a:link, .header .top-menu li.dropdown a:visited {
  padding-left: 30px;
  background: url('../img/production-link-icon.png') no-repeat;
  background-position: 0 16px;
}

.header .top-menu li a:hover, .header .top-menu li a:active {
  color: #596167;
  text-decoration: underline;
}

.header .top-menu li.dropdown a:hover, .header .top-menu li.dropdown a:active {
  background-position: 0 -69px;
  text-decoration: none !important;
}

.header .top-menu li.active a:link, .header .top-menu li.active a:visited {
  color: #f5ad00;
}

.header .form-search {
  position: absolute;
  right: 75px;
  top: 10px;
}

.header .top-menu2 {
  margin-right: 50px;
}

.header .search-query {
  background: #e3e7e9;
}

/* /шапка */
/* приветственная картинка на главной */
.main-visuals {
  height: 400px;
  background-color: #8b8c8e;
  border-top: solid 2px #fff;
  border-bottom: solid 2px #fff;
}

.main-visuals .container {
  height: 400px;
  background: url('../img/main-visual1.jpg') no-repeat top left;
}

.main-visuals .right-cont-change {
  width: 229px;
  margin: 10px 75px 10px 10px;
}

.main-visuals .text-transparent {
  width: 448px;
  height: 378px;
  margin-top: 10px;
  color: #fff;
  background: url('../img/main-visual1-bg2.png') no-repeat top left;
}

.main-visuals .text-transparent .title {
  margin: 50px 30px;
  font-size: 30px;
  line-height: 30px;
  font-family: Helvetica, "Helvetica Neue", Arial;
}

.main-visuals .text-transparent .text {
  margin: 30px;
  font-size: 18px;
}

.main-visuals .item .title {
  margin-top: 10px;
  padding: 23px 15px;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
}

.main-visuals .item1 .title {
  margin-top: 0 !important;
  background: #4c525a url('../img/main-right-change-title-bg1.png') no-repeat right;
}

.main-visuals .item2 .title {
  background: #009cb3 url('../img/main-right-change-title-bg2.png') no-repeat right;
}

.main-visuals .item3 .title {
  background: #7e10a3 url('../img/main-right-change-title-bg3.png') no-repeat right;
}

.main-visuals .item .title-active {
  color: #596167;
  background: #fff;
  cursor: auto !important;
}

.main-visuals .item1 .other {
  height: 165px;
  background: url('../img/main-right-change-bg1.jpg') no-repeat top left;
}

/* /приветственная картинка на главной */
/* блок новостей на главной */
.main-news-blocks {
  padding-bottom: 96px;
  background: #e3e7e9; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2U3ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e3e7e9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e3e7e9', GradientType = 0); /* IE6-8 */
}

.main-news-blocks .news-items-cont {
  margin: 50px 60px;
}

.news-item-cont {
  float: left;
  margin: 0 8px;
}

.main-news-blocks a.titlem:link, .main-news-blocks a.titlem:visited {
  color: #596167;
  font-size: 21px;
  line-height: 21px;
  text-decoration: underline;
}

.main-news-blocks a.titlem:hover, .main-news-blocks a.titlem:active {
  color: #009cb3;
}

.main-news-blocks .news-item {
  width: 366px;
  min-height: 231px;
  margin-top: 15px;
  border: solid 1px #d4d7d9;
  background: #fff;
  box-shadow: 0 1px 2px #b2b5b7;
  -moz-box-shadow: 0 1px 2px #b2b5b7;
  -webkit-box-shadow: 0 1px 2px #b2b5b7;
}

.main-news-blocks .news-item-inner {
  position: relative;
  min-height: 229px;
  margin: 1px;
  background: #ffffff; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlM2U3ZTkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffffff), color-stop(100%, #e3e7e9)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* IE10+ */
  background: linear-gradient(top, #ffffff 0%, #e3e7e9 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffffff', endColorstr = '#e3e7e9', GradientType = 0); /* IE6-8 */
}

.main-news-blocks .news-item img {
  position: absolute;
  left: -2px;
  top: -2px;
  padding: 2px;
  border: solid 1px #d4d7d9;
  background: #fff;
}

.main-news-blocks .news-item .date {
  margin: 0 15px 0 110px;
  padding-top: 10px;
  color: #999;
}

.main-news-blocks .news-item .titlei {
  margin: 10px 15px 0 110px;
}

.main-news-blocks .news-item .titlei a:link, .main-news-blocks .news-item .titlei a:visited {
  color: #333;
  font-size: 15px;
  font-weight: bold;
  text-decoration: none;
}

.main-news-blocks .news-item .titlei a:hover, .main-news-blocks .news-item .titlei a:active {
  color: #009cb3;
  text-decoration: underline;
}

.main-news-blocks .news-item .text {
  padding: 35px 15px 25px;
  top: 110px;
}

.main-news-blocks .news-item a.more-link:link, .main-news-blocks .news-item a.more-link:visited {
  position: absolute;
  bottom: 8px;
  right: 8px;
  display: block;
  width: 26px;
  height: 26px;
  background: url('../img/main-news-link-icon.png') no-repeat top left;
  text-indent: -9999px;
}

.main-news-blocks .news-item a.more-link:hover, .main-news-blocks .news-item a.more-link:active {
  background-position: 0 -30px;
}

/* /блок новостей на главной */
/* внутрение страницы */
.content-cont {
  background-color: #e3e7e9;
  border-top: solid 1px #d8dde0;
  padding-bottom: 96px;
}

.content-inner {
  margin: 0 75px 50px;
}

.inner-white-cont {
  background-color: #fff;
  border: solid 1px #cbcfd0;
  box-shadow: 0 1px 2px #b2b5b7;
  -moz-box-shadow: 0 1px 2px #b2b5b7;
  -webkit-box-shadow: 0 1px 2px #b2b5b7;
}

/* меню каталога */
.catalog-menu-top {
  border-bottom: solid 1px #bec3c6;
  margin: 0 !important;
  padding-bottom: 11px;
  text-align: center;
}

.catalog-menu-top li {
  display: inline;
  position: relative;
}

.catalog-menu-top li a:link, .catalog-menu-top li a:visited {
  color: #596167;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  font-size: 18px;
  margin: 0 5px;
  padding: 2px 10px;
  text-decoration: none;
}

.catalog-menu-top li a:hover, .catalog-menu-top li a:active {
  color: #009cb3;
}

.catalog-menu-top li.active a:link, .catalog-menu-top li.active a:visited {
  background-color: #5a6168;
  color: #ffc000;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
}

.catalog-menu-top li.active span {
  position: absolute;
  left: 46%;
  bottom: -12px;
  border-top: 5px solid #7e858c;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
}

.catalog-menu-top-detailed {
  border-top: solid 1px #fff;
  margin: 0 !important;
  padding-top: 5px;
  text-align: center;
}

.catalog-menu-top-detailed li {
  display: inline;
}

.catalog-menu-top-detailed li a:link, .catalog-menu-top-detailed li a:visited {
  color: #000;
  display: inline-block;
  *display: inline;
  /* IE7 inline-block hack */
  *zoom: 1;
  font-size: 15px;
  padding: 4px 10px;
  text-decoration: underline;
}

.catalog-menu-top-detailed li a:hover, .catalog-menu-top-detailed li a:active {
  color: #009cb3;
}

.catalog-menu-top-detailed li.active a:link, .catalog-menu-top-detailed li.active a:visited {
  background-color: #fff;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  color: #434546;
  text-decoration: none;
}

/* /меню каталога */
/* каталог */
.catalog-title {
  background: url('../img/raz-down-blue-inner-title.png') no-repeat bottom;
  margin: 30px 0 2px;
  padding-bottom: 15px;
}

.catalog-title .documents {
  position: relative;
  float: right;
  background: url('../img/documents-button-icon-pdf.png') no-repeat;
}

.catalog-title .documents a:link, .catalog-title .documents a:visited {
  display: block;
  padding: 8px 37px;
  color: #596167;
  font-size: 15px;
  font-weight: bold;
  background: url('../img/documents-button-icon.png') no-repeat;
  background-position: 100% 0;
  text-decoration: none;
}

.catalog-title .documents a span {
  display: block;
}

.catalog-title .documents a:hover, .catalog-title .documents a:active {
  background-position: 100% -47px;
  color: #009cb3;
}

.catalog-title .title {
  color: #4e4f51;
  font-size: 32px;
  text-align: center;
  margin: 0 160px;
}

table.table-hundred {
  width: 100%;
}

table.table-strip tbody td,
table.table-strip thead th,
table.table-strip-catalog-list tbody td {
  border-top: solid 1px #dbddde;
  border-right: solid 1px #dbddde;
  color: #333;
  padding: 8px 15px 8px 15px;
  background-image: url('../img/td-white-bg.png');
  background-repeat: repeat-x;
  background-position: 0 0;
}

table.table-strip thead th {
  background-image: url('../img/td-white-bg2.png') !important;
  background-repeat: repeat-y;
  background-position: 0 0;
}

table.table-strip tbody td:after,
table.table-strip-catalog-list tbody td:after {
  border-top: solid 1px #fff;
}

table.table-strip tbody tr td:not(.blue-bold):first-child,
table.table-strip tbody tr td:last-child,
table.table-strip thead th td:first-child,
table.table-strip thead th td:last-child,
table.table-strip-catalog-list tbody tr td:not(.blue-bold):first-child,
table.table-strip-catalog-list tr td:last-child {
  border-right: none !important;
}

table.table-strip tbody tr:nth-child(odd) td,
table.table-strip-catalog-list tbody tr:nth-child(odd) td {
  background-color: #f5f7f8;
}

table.table-strip tbody tr td:not(.blue-bold):not(.inner-title):first-child,
table.table-strip thead th,
table.table-strip-catalog-list tr td:not(.blue-bold):not(.inner-title):first-child {
  background-color: #dde4e7;
}

table.table-strip tbody tr:hover td,
table.table-strip-catalog-list tbody tr:hover td {
  background-color: #dde4e7;
}

table.table-strip tbody tr td.inner-title,
table.table-strip-catalog-list tbody tr td.inner-title {
  background-color: #fff;
  font-size: 21px;
  padding-top: 30px;
}

table.table-strip tbody td.blue-bold {
  color: #009cb3;
  font-weight: bold;
}

table.table-strip tbody td.access1 {
  width: 50%;
  background-color: #fff !important;
  vertical-align: middle !important;

}

table.table-strip tbody td.access2 {
  background-color: #fff !important;
  vertical-align: middle !important;
  text-align: center !important;
  border-left: dotted #c8c8c8 1px !important;
}

table.table-strip tbody td.access1 .title-item {
  color: #3c3c3d;
  font-size: 21px;
  text-decoration: underline;
  margin-bottom: 15px;
}

table.table-strip-bordered {
  border: solid 1px #dbddde;
}

table.table-td-centered td {
  text-align: center;
}

table.orange-head th {
  background: #727c84; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: -moz-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #727c84), color-stop(30%, #646d74), color-stop(70%, #646d74), color-stop(100%, #727c84)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* IE10+ */
  background: linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#727c84', endColorstr = '#727c84', GradientType = 0); /* IE6-8 */
  border-right: dotted 1px #7b8289;
}

table.orange-head th:last-child {
  border-right: none !important;
}

table.orange-head th a:link, table.orange-head th a:visited {
  display: block;
  font-weight: normal;
  font-size: 21px;
  padding: 20px 5px;
}

table.orange-head th:hover {
  background: #80888e; /* Old browsers */
  background: -moz-linear-gradient(top, #9ba3aa 0%, #80888e 30%, #80888e 70%, #9ba3aa 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ba3aa), color-stop(30%, #80888e), color-stop(70%, #80888e), color-stop(100%, #9ba3aa)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9ba3aa 0%, #80888e 30%, #80888e 70%, #9ba3aa 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9ba3aa 0%, #80888e 30%, #80888e 70%, #9ba3aa 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9ba3aa 0%, #80888e 30%, #80888e 70%, #9ba3aa 100%); /* IE10+ */
  background: linear-gradient(top, #9ba3aa 0%, #80888e 30%, #80888e 70%, #9ba3aa 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9ba3aa', endColorstr = '#9ba3aa', GradientType = 0); /* IE6-8 */
}

table.orange-head th a:hover, table.orange-head th a:active {
  color: #fff;
  text-decoration: none;
}

table.orange-head th a:link .title, table.orange-head th a:visited .title {
  color: #ffc000;
  text-decoration: underline;
}

table.orange-head th a:hover .title, table.orange-head th a:active .title {
  color: #fff;
  text-decoration: none;
}

table.orange-head th.active {
  background: #ffc000; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSI5MCUiIHN0b3AtY29sb3I9IiNmZmMwMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjYzQ4ZjAwIiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L2xpbmVhckdyYWRpZW50PgogIDxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZC11Y2dnLWdlbmVyYXRlZCkiIC8+Cjwvc3ZnPg==);
  background: -moz-linear-gradient(top, #ffc000 90%, #c48f00 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(90%, #ffc000), color-stop(100%, #c48f00)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffc000 90%, #c48f00 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffc000 90%, #c48f00 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffc000 90%, #c48f00 100%); /* IE10+ */
  background: linear-gradient(top, #ffc000 90%, #c48f00 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffc000', endColorstr = '#c48f00', GradientType = 0); /* IE6-8 */
}

table.orange-head th.active a .title {
  color: #4e4f51 !important;
  text-decoration: underline !important;
}

table.orange-head th a .desc {
  color: #fff;
  font-size: 15px;
  text-decoration: none !important;
}

table.orange-head th.back,
table.orange-head th.nohref {
  background: #727c84; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzcyN2M4NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjMwJSIgc3RvcC1jb2xvcj0iIzY0NmQ3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjcwJSIgc3RvcC1jb2xvcj0iIzY0NmQ3NCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MjdjODQiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #727c84), color-stop(30%, #646d74), color-stop(70%, #646d74), color-stop(100%, #727c84)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* IE10+ */
  background: linear-gradient(top, #727c84 0%, #646d74 30%, #646d74 70%, #727c84 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#727c84', endColorstr = '#727c84', GradientType = 0); /* IE6-8 */
}

table.orange-head th.back a:link, table.orange-head th.back a:visited {
  padding-left: 45px !important;
  color: #fff;
  font-size: 14px;
  text-align: left !important;
  background: url('../img/catalog-detailed-back-icon.png') no-repeat;
  background-position: 10px center;
}

table.orange-head th.back a:hover, table.orange-head th.back a:active {
  background: url('../img/catalog-detailed-back-icon-a.png') no-repeat;
  background-position: 10px center;
}

table.catalog-list {
  width: 100%;
  border-collapse: collapse;
  border-spacing: 0;
  border: solid 1px #fff;
}

table.catalog-list td {
  width: 20%;
}

table.catalog-list td.white-dotted {
  background-color: #fff !important;
  text-align: center;
  vertical-align: middle;
  border-right: dotted 1px #c8c8c8 !important;
  border-top: solid 1px #fff !important;
}

table.catalog-list td.white-dotted:first-child {
  border-right: dotted 1px #c8c8c8 !important;
}

table.catalog-list td.white-dotted div {

}

table.catalog-list td.no-top-border {
  border-top: none !important;
}

table.catalog-list td.link-closed {
  vertical-align: top !important;
  text-align: left !important;
}

table.catalog-list td.link-closed a:link, table.catalog-list td.link-closed a:visited {
  display: block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 4px 30px 4px 10px;
  background-color: #dde4e7;
  color: #495862;
  text-decoration: none;
}

table.catalog-list td.link-closed a.closed:link, table.catalog-list td.link-closed a.closed:visited {
  background: #dde4e7 url('../img/table-button-closed-icon.png') no-repeat;
  background-position: 99% 2px;
}

table.catalog-list td.link-closed a.opened:link, table.catalog-list td.link-closed a.opened:visited {
  background: #dde4e7 url('../img/table-button-opened-icon.png') no-repeat;
  background-position: 99% 2px;
}

table.catalog-list td.link-closed a:hover, table.catalog-list td.link-closed a:active {
  color: #009cb3;
  background-position: 99% -27px !important;
}

/* внутренняя каталога*/
/* второстепенное меню сверху */
table.catalog-detailed {
  width: 100%;
}

table.catalog-detailed th {
  width: 20%;
}

table.catalog-detailed th a {
  padding: 10px 5px !important;
}

table.catalog-detailed-second {
  width: 100%;
  border-bottom: solid 2px #fff;
}

table.catalog-detailed-second th {
  border-top: solid 2px #9098a0;
  background: #9098a0; /* Old browsers */
  background: -moz-linear-gradient(top, #9098a0 0%, #596168 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9098a0), color-stop(100%, #596168)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9098a0 0%, #596168 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9098a0 0%, #596168 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9098a0 0%, #596168 100%); /* IE10+ */
  background: linear-gradient(top, #9098a0 0%, #596168 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9098a0', endColorstr = '#596168', GradientType = 0); /* IE6-9 */
}

table.catalog-detailed-second th:hover {
  border-top: solid 2px #fff;
  background: #a3a9af; /* Old browsers */
  background: -moz-linear-gradient(top, #a3a9af 0%, #7a8186 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #a3a9af), color-stop(100%, #7a8186)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #a3a9af 0%, #7a8186 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #a3a9af 0%, #7a8186 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #a3a9af 0%, #7a8186 100%); /* IE10+ */
  background: linear-gradient(top, #a3a9af 0%, #7a8186 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#a3a9af', endColorstr = '#7a8186', GradientType = 0); /* IE6-9 */

}

table.catalog-detailed-second th.border {
  max-width: 2px;
}

table.catalog-detailed-second th.border:hover {
  border-top: solid 2px #9098a0;
  background: #9098a0; /* Old browsers */
  background: -moz-linear-gradient(top, #9098a0 0%, #596168 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9098a0), color-stop(100%, #596168)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9098a0 0%, #596168 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9098a0 0%, #596168 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9098a0 0%, #596168 100%); /* IE10+ */
  background: linear-gradient(top, #9098a0 0%, #596168 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9098a0', endColorstr = '#596168', GradientType = 0); /* IE6-9 */
}

table.catalog-detailed-second th a:link, table.catalog-detailed-second th a:visited {
  display: block;
  margin: 0 !important;
  color: #fff;
  padding: 12px 8px;
  border-right: dotted 1px #747d87;
  text-decoration: none;
}

table.catalog-detailed-second th:nth-last-child(2) a {
  border-right: none;
}

table.catalog-detailed-second th.active {
  background: #fff !important;
  filter: none !important;
}

table.catalog-detailed-second th.active:hover {
  border-top: solid 2px #9098a0;
}

table.catalog-detailed-second th.active a {
  color: #596167 !important;
}

table.catalog-detailed-second th.poll-list {
  background: #009cb3 !important;
  filter: none !important;
}

table.catalog-detailed-second th.poll-list:hover {
  background: #0aa0b6 !important;
}

table.catalog-detailed-second th.poll-list a:link, table.catalog-detailed-second th.poll-list a:visited {
  color: #fff !important;
  padding-right: 27px;
  background: url('../img/catalog-detailed-second-poll-icon.png') no-repeat;
  background-position: 95% center;
}

table.catalog-detailed-second th.active.poll-list {
  background: #fff !important;
}

table.catalog-detailed-second th.active.poll-list a {
  color: #009cb3 !important;
  background: url('../img/catalog-detailed-second-poll-icon-a.png') no-repeat !important;
  background-position: 95% center !important;
}

/* */
table.catalog-detailed-third {
  width: 100%;
  border-top: solid 2px #dde4e7;
  border-bottom: solid 2px #fff;
}

table.catalog-detailed-third th {
  background: #dde4e7; /* Old browsers */
  background: -moz-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dde4e7), color-stop(90%, #dde4e7), color-stop(100%, #d1d8dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* IE10+ */
  background: linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dde4e7', endColorstr = '#d1d8dc', GradientType = 0); /* IE6-8 */
}

table.catalog-detailed-third th:hover {
  background: #eaf1f4; /* Old browsers */
  background: -moz-linear-gradient(top, #eaf1f4 0%, #eaf1f4 90%, #d1d8dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eaf1f4), color-stop(90%, #eaf1f4), color-stop(100%, #d1d8dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #eaf1f4 0%, #eaf1f4 90%, #d1d8dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #eaf1f4 0%, #eaf1f4 90%, #d1d8dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #eaf1f4 0%, #eaf1f4 90%, #d1d8dc 100%); /* IE10+ */
  background: linear-gradient(top, #eaf1f4 0%, #eaf1f4 90%, #d1d8dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#eaf1f4', endColorstr = '#d1d8dc', GradientType = 0); /* IE6-8 */
}

table.catalog-detailed-third th.border {
  max-width: 2px;
}

table.catalog-detailed-third th.border:hover {
  background: #dde4e7; /* Old browsers */
  background: -moz-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dde4e7), color-stop(90%, #dde4e7), color-stop(100%, #d1d8dc)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* IE10+ */
  background: linear-gradient(top, #dde4e7 0%, #dde4e7 90%, #d1d8dc 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#dde4e7', endColorstr = '#d1d8dc', GradientType = 0); /* IE6-8 */
}

table.catalog-detailed-third th a:link, table.catalog-detailed-third th a:visited {
  display: block;
  color: #596167;
  padding: 12px;
  border-right: dotted 1px #fff;
  text-decoration: none;
}

table.catalog-detailed-third th:nth-last-child(2) a {
  border-right: none;
}

table.catalog-detailed-third th a:hover, table.catalog-detailed-third th a:active {
  color: #009cb3;
}

table.catalog-detailed-third th.active {
  background: #fff !important;
  filter: none !important;
}

table.catalog-detailed-third th.active a {
  color: #596167 !important;
}

/* /второстепенное меню сверху */
.inner-text-cont {
  padding: 40px 30px;
}

.inner-text-cont .page-title {
  font-size: 27px;
  margin-bottom: 20px;
}

.inner-text-cont .right-column {
  float: right;
  width: 360px;
}

.inner-text-cont .left-column {
  margin-right: 400px;
}

.inner-text-cont .title-second {
  font-size: 21px;
  margin: 15px 0;
}

ul.list-orange,
ul.list-orange-big {
  margin-top: 15px;
  margin-bottom: 15px;
  list-style-type: none;
}

ul.list-orange li {
  padding: 5px 0 5px 20px;
  border-top: dotted 1px #e3e7e9;
  background: url('../img/ul-orange-list-icon.png') no-repeat;
  background-position: 5px 11px;
}

ul.list-orange li:last-child {
  border-bottom: dotted 1px #e3e7e9;
}

ul.list-orange-undotted li {
  border: none !important;
}

ul.list-orange-big li {
  padding: 5px 0 10px 35px;
  border-bottom: dotted 1px #e3e7e9;
  margin-bottom: 15px;
}

ul.list-orange-big li:nth-child(1) {
  background: url('../img/ul-orange-list-big-icon1.png') no-repeat;
  background-position: 0 4px;
}

ul.list-orange-big li:nth-child(2) {
  background: url('../img/ul-orange-list-big-icon2.png') no-repeat;
  background-position: 0 4px;
}

ul.list-orange-big li:nth-child(3) {
  background: url('../img/ul-orange-list-big-icon3.png') no-repeat;
  background-position: 0 4px;
}

ul.list-orange-big li:nth-child(4) {
  background: url('../img/ul-orange-list-big-icon4.png') no-repeat;
  background-position: 0 4px;
}

ul.list-orange-big li:nth-child(5) {
  background: url('../img/ul-orange-list-big-icon5.png') no-repeat;
  background-position: 0 4px;
}

a.zoom1:link, a.zoom1:visited {
  display: inline-block;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  border-radius: 20px;
  padding: 4px 30px 4px 10px;
  background-color: #dde4e7;
  color: #495862;
  margin-bottom: 5px;
  text-decoration: none;
  background: #dde4e7 url('../img/button-zoom-icon.png') no-repeat;
  background-position: 99% 2px;
}

a.zoom1:hover, a.zoom1:active {
  color: #009cb3;
  background-position: 99% -27px !important;
}

img.border {
  border: solid 1px #e3e7e9;
}

.inner-visuals .cont {
  padding-right: 10px;
  height: 400px;
  background: url('../img/main-visual1.jpg') no-repeat top left;
}

.info-blue {
  padding: 50px 20px;
  color: #029db4;
  font-size: 18px;
  background-color: #ecf1f3;
}

.page-title-blue {
  color: #009cb3;
}

.left-column50 {
  float: right;
  width: 50%;
}

.left-column50 .inner-cont {
  margin-right: 40px;
}

.right-column50 {
  float: right;
  width: 50%;
}

/* аксессуары */
.access-left-cont {
  float: left;
  width: 225px;
  border-right: solid 2px #c3c6c8;
  background: #e3e7e9 url('../img/td-white-bg2.png') repeat-y left;
}

ul.access-left-menu li {
  border-top: solid 2px #9198a1;
  background: #78818b; /* Old browsers */
  background: -moz-linear-gradient(top, #78818b 0%, #5a6168 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #78818b), color-stop(100%, #5a6168)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #78818b 0%, #5a6168 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #78818b 0%, #5a6168 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #78818b 0%, #5a6168 100%); /* IE10+ */
  background: linear-gradient(top, #78818b 0%, #5a6168 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#78818b', endColorstr = '#5a6168', GradientType = 0); /* IE6-9 */
}

ul.access-left-menu li a:link, ul.access-left-menu li a:visited {
  display: block;
  padding: 10px 15px;
  color: #fff;
  text-decoration: none;
}

ul.access-left-menu li a:link span, ul.access-left-menu li a:visited span {
  color: #ffc000;
  font-size: 16px;
  font-weight: bold;
  text-decoration: underline;
}

ul.access-left-menu li:hover {
  background: #9ba3aa; /* Old browsers */
  background: -moz-linear-gradient(top, #9ba3aa 0%, #80888e 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9ba3aa), color-stop(100%, #80888e)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9ba3aa 0%, #80888e 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9ba3aa 0%, #80888e 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9ba3aa 0%, #80888e 100%); /* IE10+ */
  background: linear-gradient(top, #9ba3aa 0%, #80888e 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9ba3aa', endColorstr = '#80888e', GradientType = 0); /* IE6-9 */
}

ul.access-left-menu li a:hover span {
  color: #fff;
  text-decoration: none;
}

ul.access-left-menu li.active {
  background: #fff !important;
  filter: none !important;
}

ul.access-left-menu li.active a {
  position: relative;
  left: 2px;
  padding: 10px 17px 10px 13px !important;
  background: #fff;
}

ul.access-left-menu li.active a,
ul.access-left-menu li.active a span {
  color: #4e4f51 !important;
  text-decoration: none !important;
}

.access-right-cont {
  margin-left: 225px;
}

/* /аксессуары */
/* /внутренняя каталога*/
/* опросный лист */
.poll-cont legend {
  color: #363636;
  font-size: 18px;
  border: none;
  margin: 0;
}

.poll-cont fieldset:nth-child(1) legend {
  padding-left: 35px;
  background: url('../img/ul-orange-list-big-icon1.png') no-repeat;
  background-position: 0 4px;
}

.poll-cont fieldset:nth-child(2) legend {
  padding-left: 35px;
  background: url('../img/ul-orange-list-big-icon2.png') no-repeat;
  background-position: 0 4px;
}

.poll-cont fieldset:nth-child(3) legend {
  padding-left: 35px;
  background: url('../img/ul-orange-list-big-icon3.png') no-repeat;
  background-position: 0 4px;
}

.poll-cont fieldset:nth-child(4) legend {
  padding-left: 35px;
  background: url('../img/ul-orange-list-big-icon4.png') no-repeat;
  background-position: 0 4px;
}

.poll-cont fieldset:nth-child(5) legend {
  padding-left: 35px;
  background: url('../img/ul-orange-list-big-icon5.png') no-repeat;
  background-position: 0 4px;
}

.poll-cont table {
  width: 80%;
  margin-bottom: 30px;
  background-color: #f5f7f8;
  border: solid 1px #fff;
  outline: solid 1px #e4e4e4;
  box-shadow: 0 1px 2px #b2b5b7;
  -moz-box-shadow: 0 1px 2px #b2b5b7;
  -webkit-box-shadow: 0 1px 2px #b2b5b7;
}

.poll-cont td.poll-label {
  text-align: right;
  padding: 0 10px 0 20px;
  width: 50%;
}

.poll-cont td.poll-input {
  padding-right: 20px;
}

.poll-cont table:not(.table-strip) tr:first-child td {
  padding-top: 20px;
}

.poll-cont table:not(.table-strip) tr:last-child td {
  padding-bottom: 11px;
}

.poll-cont td.poll-input input {
  width: 300px;
}

.poll-cont table.table-strip {
  width: 80%;
  background-color: transparent;
  border: solid 1px #DBDDDE;
  outline: none;
  box-shadow: none;
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
}

.poll-cont table.table-strip td {
  padding: 2px 3px;
}

.poll-cont table.table-strip td.blue-bold {
  width: 70px;
}

.poll-cont table.table-strip input {
  width: 40px;
  margin: 2px 0;
}

.button-send-cont {
  margin-top: 30px;
  text-align: center;
}

.button-send-cont a:link, .button-send-cont a:visited {
  display: inline-block;
  padding: 15px 50px;
  color: #363636;
  font-size: 21px;
  text-decoration: none;
  background: #ffda80; /* Old browsers */
  background: -moz-linear-gradient(top, #ffda80 0%, #ffb910 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffda80), color-stop(100%, #ffb910)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffda80 0%, #ffb910 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffda80 0%, #ffb910 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffda80 0%, #ffb910 100%); /* IE10+ */
  background: linear-gradient(top, #ffda80 0%, #ffb910 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffda80', endColorstr = '#ffb910', GradientType = 0); /* IE6-9 */
}

.button-send-cont a:hover, .button-send-cont a:active {
  color: #bb5800;
  background: #ffe380; /* Old browsers */
  background: -moz-linear-gradient(top, #ffe380 0%, #ffc90d 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #ffe380), color-stop(100%, #ffc90d)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #ffe380 0%, #ffc90d 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #ffe380 0%, #ffc90d 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #ffe380 0%, #ffc90d 100%); /* IE10+ */
  background: linear-gradient(top, #ffe380 0%, #ffc90d 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#ffe380', endColorstr = '#ffc90d', GradientType = 0); /* IE6-9 */
}

/* /опросный лист */
/* /каталог */
.inner-menu-cont {
  background: #9098a0; /* Old browsers */
  background: -moz-linear-gradient(top, #9098a0 0%, #596168 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #9098a0), color-stop(100%, #596168)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #9098a0 0%, #596168 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #9098a0 0%, #596168 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #9098a0 0%, #596168 100%); /* IE10+ */
  background: linear-gradient(top, #9098a0 0%, #596168 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#9098a0', endColorstr = '#596168', GradientType = 0); /* IE6-9 */
}

table.inner-menu {
  width: auto !important;
}

table.inner-menu th:nth-last-child(2) a {
  border-right: dotted 1px #747d87 !important;;
}

/* /внутрение страницы */
/* подвал */
.footer {
  width: 100%;
  height: 96px;
  position: absolute;
  bottom: 0;
}

.footer .left {
  float: left;
  width: 50%;
  background: #bec6cb; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q0ZGFkZCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNiMmI5YmUiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #d4dadd 0%, #b2b9be 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #d4dadd), color-stop(100%, #b2b9be)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #d4dadd 0%, #b2b9be 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #d4dadd 0%, #b2b9be 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #d4dadd 0%, #b2b9be 100%); /* IE10+ */
  background: linear-gradient(top, #d4dadd 0%, #b2b9be 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#d4dadd', endColorstr = '#b2b9be', GradientType = 0); /* IE6-8 */
}

.footer .right {
  float: left;
  width: 50%;
  background: #bec6cb; /* Old browsers */
  /* IE9 SVG, needs conditional override of 'filter' to 'none' */
  background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2JlYzZjYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5MjljYTMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
  background: -moz-linear-gradient(top, #bec6cb 0%, #929ca3 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #bec6cb), color-stop(100%, #929ca3)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #bec6cb 0%, #929ca3 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #bec6cb 0%, #929ca3 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #bec6cb 0%, #929ca3 100%); /* IE10+ */
  background: linear-gradient(top, #bec6cb 0%, #929ca3 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr = '#bec6cb', endColorstr = '#929ca3', GradientType = 0); /* IE6-8 */
}

.footer .inner {
  width: 640px;
  height: 96px;
}

.footer .left .inner {
  float: right;
  background: url('../img/footer-bg.jpg') no-repeat right top;
}

.footer .left .text {
  margin: 40px 60px;
  color: #666;
}

.footer .right .text {
  margin-left: 90px;
  padding-top: 14px;
  color: #333;
  font-size: 13px;
}

.footer .right .text .larger {
  margin: 8px 0;
  font-size: 14px;
}

.footer .text a:link, .footer .text a:visited {
  color: #333;
  text-decoration: underline;
}

/* /подвал */
/* разное */
hr.gray {
  height: 1px;
  color: #e3e7e9;
  margin: 8px 0 !important;
}

.raz-down-blue {
  height: 20px;
  background: #fff url('../img/raz-down-blue.png') no-repeat top;
}

.raz-down-blue-inner {
  background: url('../img/raz-down-blue-inner.png') no-repeat top;
  height: 15px;
}

.marginb20 {
  margin-bottom: 20px;
}

.marginb40 {
  margin-bottom: 40px;
}

.margint20 {
  margin-top: 20px;
}

.margint40 {
  margin-top: 40px;
}

.text18 {
  font-size: 18px;
}

.text15 {
  font-size: 15px;
}

.red {
  color: #ff0303;
}